@import url(http://fonts.googleapis.com/css?family=Francois+One);

html,
body {
	font-family: 'Francois One', sans-serif;
}
/* Utility */
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Francois One', sans-serif;
}
#first-child {
	top:0;
	left:0;
	background-color: rgb(19, 18, 18);
}
#second-child {
	top:0;
	left:50%;
	background-color: #E6537D;
	color:black;
}
#third-child {
	top:50%;
	left:0;
	background-color: #DC143C;
}
#fourth-child {
	top:50%;
	left:50%;
	background-color: #20B2AA;
	color:black;
}
.big-box {
	position: absolute;
	width: 50%;
	height: 50%;
	color:white;
}
.big-box h2 {
	text-align: center;
	margin-top: 20%;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	cursor:pointer;
}
.rounded {
	border-radius: 100%;
	border: #FFFCE3 3px solid;
}
.circular-animation {
	-webkit-animation: enlargeShadows 1.5s ease-out infinite;
	animation: enlargeShadows 1.5s ease-out infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.game {
	font-size: 1.5em;
}
.question {
	background: black;
	text-align: center;
	z-index: 1;
}
.question-wrapper {
	display: inline-table;
	position: relative;
	height: 40%;
}
.options {
	height: 98%;
	position: absolute;	
}
.options > p {
	margin: 0;
}
[class$=-option]:hover {
	background: #20B2AA;
	-webkit-transition: background, 1s;
		-moz-transition: background, 1s;
			transition: background, 1s;
}
.first-option:hover {
}
.second-option {
	left: 50%;
}
.option-text {
	cursor: pointer;
	min-height: 100%;
}
.option-text > span {
	position: absolute;
	top: 50%;
}
.modal-body-full-height {
	min-height: 100%;
}
@media screen and (max-width: 46.5em)  {
	.big-box h2
	{
		font-size:16px;
		padding-left:0px;

	}
}

@media screen and (max-width: 20.5em)  {
	.big-box h2
	{
		font-size:12px;
		padding-left:0px;
		margin-top:30%;
	}
}
.modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
}
.modal-content {

	height: 100%;
	border-radius: 0;
	color:white;
	overflow:auto;
}
.modal-title {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}
.modal-content-one {
	background-color: rgb(19, 18, 18);
}
.modal-content-two {
	background-color:#E6537D;
}
.modal-content-three {
	background-color:#DC143C;
}
.modal-content-four {
	background-color:#20B2AA;
}
.close {
	color:white ! important;
	opacity:1.0;
}
